<!DOCTYPE html>
<html>
<head>
	<title>Mike's Music</title>
</head>
<body>

	<h1>Mike's Music Blog</h1>

	<p>Hey all. This is my place to dump my thoughts, projects, and favorites tracks of the moment. Enjoy!</p>

	<a href="/favorites">Go to favorite songs page</a>

	 <%=  count %>



</body>
</html>